.App {
  text-align: center;
  overflow: hidden;
  background: rgb(34,193,195);
  background: -moz-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,187,40,1) 100%);
  background: -webkit-linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,187,40,1) 100%);
  background: linear-gradient(35deg, rgba(34,193,195,1) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(255,187,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#ffbb28",GradientType=1);
  min-height: 100vh;
  color: white;
}

.center-col,
.center-row,
.make-row-align-start {
  display: flex;
  align-items: center;
}

.row-align-start {
  justify-content: start;
}

.center-col,
.center-row {
  justify-content: center;
}
.center-col {
  flex-direction: column;
}

.App-logo-still,
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.fullscreen-view {

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
